%div.well
  = form_tag sessions_path, class: 'form-group' do
    %fieldset.form-group
      = label_tag :email
      = email_field_tag :email, nil, class: "form-control"
    %fieldset
      = label_tag :password
      = password_field_tag :password, nil, class: "form-control"
    %fieldset
      %br
      = submit_tag "Sign in", class: "btn btn-primary"

